@model IEnumerable<aweProject.Models.SiteManagement>

@{
    ViewData["Title"] = "Baustellenverwaltung";
}

<h2>Baustellenverwaltung</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Beschreibung
            </th>
            <th>
                Baustellenleiter
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @{ 
                        foreach (var user in ViewBag.UserList)
                        {
                            if (user.Id == item.ManagerId.ToString())
                            {
                                @user.Name
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a asp-action="Create">Baustelle erstellen</a></td>
        </tr>
    </tbody>
</table>
