@model IEnumerable<aweProject.Models.Ressources>

@{
    ViewData["Title"] = "Index";
}

<h2 id="ressources">Bestandsverwaltung</h2>
<hr />

<div class="card border-dark">
    <div class="card-header pl-3 pb-0 pt-2">
        <h4>Ressourcen</h4>
    </div>
    <div class="card-body">
        <div class="form-row bg-dark text-white p-1">
            <div class="col-1 pl-0">
                Status
            </div>
            <div class="col-2 pl-0">
                Name
            </div>
            <div class="col-1 pl-0">
                Typ
            </div>
            <div class="col-2 pl-0">
                Kaufdatum
            </div>
            <div class="col-2 pl-0">
                Nächste Wartung
            </div>
            <div class="col-2 pl-0">
                Standort
            </div>
            <div class="col-1">

            </div>
        </div>
        @foreach (var item in Model)
        {
            <partial name="IndexPartial" model="item" />
        }
        <partial name="NewPartial" />
    </div>
</div>

<script>
    function Edit(Id) {
        $.get("@Url.Action("GetEdit", "Ressources")", { id: Id })
            .done(function (data) {
                $("#row_" + Id).replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };

    function Update(Id) {
        $.post("@Url.Action("PostUpdate", "Ressources")", $("#row_" + Id).serialize())
            .done(function (data) {
                $("#row_" + Id + " input[name='BuyDate']").datepicker().destroy();
                $("#row_" + Id + " input[name='NextMaintenance']").datepicker().destroy();
                $("#row_" + Id).replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };

    function CancelEdit(Id) {
        $.get("@Url.Action("GetCancelEdit", "Ressources")", { id: Id })
            .done(function (data) {
                $("#row_" + Id + " input[name='BuyDate']").datepicker().destroy();
                $("#row_" + Id + " input[name='NextMaintenance']").datepicker().destroy();
                $("#row_" + Id).replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };

    function Create() {
        $.get("@Url.Action("GetCreate", "Ressources")", null)
            .done(function (data) {
                $("#row_New").replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };

    function Insert() {
        $.post("@Url.Action("PostInsert", "Ressources")", $("#row_New").serialize())
            .done(function (data) {
                $("#row_New input[name='BuyDate']").datepicker().destroy();
                $("#row_New input[name='NextMaintenance']").datepicker().destroy();
                $("#row_New").replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };

    function CancelCreate(Id) {
        $.get("@Url.Action("GetCancelCreate", "Ressources")", null)
            .done(function (data) {
                $("#row_New input[name='BuyDate']").datepicker().destroy();
                $("#row_New input[name='NextMaintenance']").datepicker().destroy();
                $("#row_New").replaceWith(data);
            })
            .fail(function (status) {
                alert("HTTP Error Code " + status.status);
            }
        );
    };

    function Delete(Id) {
        if (confirm("This table entry will be deleted permanently.")) {
            $.post("@Url.Action("PostDelete", "Ressources")", $("#row_" + Id).serialize())
                .done(function (data) {
                    $("#row_" + Id).replaceWith(data);
                })
                .fail(function (status) {
                    alert("HTTP Error Code " + status.status);
                }
            );
        }
    };

</script>