@model aweProject.Models.Ressources

<form id="row_@Model.Id">
    <div class="form-row border-bottom border-secondary align-items-center p-1">
        <div class="col-2 pl-0">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-2 pl-0">
            @Html.DisplayFor(model => model.Type)
        </div>
        <div class="col-2 pl-0">
            @Html.DisplayFor(model => model.BuyDate)
        </div>
        <div class="col-2 pl-0">
            @Html.DisplayFor(model => model.NextMaintenance)
        </div>
        <div class="col-2 pl-0">
            @Html.DisplayFor(model => model.Standort)
        </div>
        <div class="col-2">
            <input type="hidden" asp-for="Id" />
            <button type="button" class="btn btn-outline-dark" onclick="Edit('@Model.Id')"><i class="fas fa-edit fa-fw"></i></button>
            <button type="button" class="btn btn-danger" onclick="Delete('@Model.Id')"><i class="fas fa-trash-alt fa-fw"></i></button>
            @Html.AntiForgeryToken()
        </div>
    </div>
</form>