@model aweProject.Models.SiteRessource

<div id="SiteForm">
    <div class="card border-dark" id="SiteFormPartialCard">
        <div class="card-header pl-3 pb-0 pt-2">
            <h4>Auftrag anlegen</h4>
        </div>
        <div class="card-body">
            <h3>Verfügbare Ressourcen</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Standort</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @{
                    int i = 1;
                    foreach (Ressources item in from item in Model.RessourcesList where item.IsInStorage == true let Id = item.Id select item)
                    {
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td scope="row">@item.Name</td>
                                        <td scope="row">@item.Type</td>
                                        <td scope="row">@item.Standort</td>
                                        @{
                                            var orders = Model.OrderList;
                                            bool checkStateOrder = false;
                                            foreach (var order in orders)
                                            {
                                                if (order.RessourceId == item.Id && order.IsClosed == false && order.IsActive == false && Model.Id == order.SiteId)
                                                {
                                                    checkStateOrder = true;
                                                    break;
                                                }
                                            }
                                            if (checkStateOrder)
                                            {
                                                <td scope="row">
                                                    <button type="button" class="btn btn-warning">Anfrage in Bearbeitung <i class="fas fa-hourglass-half"></i></button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td scope="row">
                                                    <button type="button" class="btn btn-outline-dark" onclick="RequestRessource('@item.Id')">Ressource anfordern <i class="fas fa-check fa-fw"></i></button>
                                                </td>
                                            }
                                        }
                                    </tr>
                        i++;
                    }
                }

                </tbody>
            </table>
        </div>
    </div>

    <div class="card border-dark" id="SiteFormPartialCard">
        <div class="card-header pl-3 pb-0 pt-2">
            <h4>Aktuell zugeordnete Ressourcen</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Typ</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @{
                    int j = 1;
                    foreach (Ressources item in from item in Model.RessourcesList where item.SiteId == Model.Id let Id = item.Id select item)
                    {
                        if (item.IsInStorage)
                        {
                            continue;
                        }
                        <tr>
                            <th scope="row">@j</th>
                            <td scope="row">@item.Name</td>
                            <td scope="row">@item.Type</td>
                            @{
                                var retoures = Model.RetourenList;
                                bool checkStateRetoure = false;
                                foreach (var retoure in retoures)
                                {
                                    if (retoure.RessourceId == item.Id && retoure.IsActive == false)
                                    {
                                        checkStateRetoure = true;
                                        break;
                                    }
                                }
                                if (checkStateRetoure)
                                {
                                    <td scope="row">
                                        <button type="button" class="btn btn-warning">Anfrage in Bearbeitung <i class="fas fa-hourglass-half"></i></button>
                                    </td>
                                }
                                else
                                {
                                    <td scope="row">
                                        <button type="button" class="btn btn-outline-dark" onclick="RequestRetoure('@item.Id')">Ressource einlagern <i class="fas fa-check fa-fw"></i></button>
                                    </td>
                                }
                            }
                        </tr>
                        j++;
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function RequestRessource(Id) {
        var SiteId = $("#SiteSelect").val();
        $.get("@Url.Action("RequestRessource", "Home")", { RessourceId: Id, SiteId: SiteId })
            .done(function (data) {
                $("#SiteForm").replaceWith(data);
            })
            .fail(function(status) {
                    alert("HTTP Error Code " + status.status);
                }
            );
    };

    function RequestRetoure(Id) {
        var SiteId = $("#SiteSelect").val();
        $.get("@Url.Action("RequestRetoure", "Home")", { RessourceId: Id, SiteId: SiteId })
            .done(function (data) {
                $("#SiteForm").replaceWith(data);
            })
            .fail(function(status) {
                    alert("HTTP Error Code " + status.status);
                }
            );
    };
</script>