@model aweProject.Models.SiteOrderRessources

<div id="RetourenCard">
    <div class="card border-dark" id="SiteFormPartialCard">
        <div class="card-header pl-3 pb-0 pt-2">
            <h4>Offene Retouren</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Baustellenname</th>
                    <th scope="col">Ressourcenname</th>
                    <th scope="col">Retourendatum</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @{
                    int i = 1;
                    foreach (Retouren retouren in Model.RetourenList)
                    {
                        if (retouren.IsActive == false)
                        {
                            Order order = Model.OrderList.Find(x => x.RessourceId == retouren.RessourceId && x.IsClosed == false);
                            SiteManagement site = Model.SiteList.Find(x => x.Id == retouren.SiteId);
                            Ressources ressources = Model.RessourcesList.Find(x => x.Id == retouren.RessourceId);
                            if (site == null || ressources == null)
                            {
                                continue;
                            }

                            <tr>
                                <th scope="row">@i</th>
                                <td scope="row">@site.Name</td>
                                <td scope="row">@ressources.Name</td>
                                <td scope="row">@retouren.RetourenTime</td>
                                <td scope="row">
                                    <button type="button" class="btn btn-outline-dark" onclick="CheckIn('@retouren.SiteId', '@retouren.RessourceId', '@retouren.RetourenId', '@order.OrderId')">Ressource einlagern <i class="fas fa-check fa-fw"></i></button>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                }

                </tbody>
            </table>
        </div>
    </div>

    <div class="card border-dark" id="SiteFormPartialCard">
        <div class="card-header pl-3 pb-0 pt-2">
            <h4>Abgeschlossene Retouren</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Baustellenname</th>
                    <th scope="col">Ressourcenname</th>
                    <th scope="col">Auftragsdatum</th>
                    <th scope="col">Checkindatum</th>
                </tr>
                </thead>
                <tbody>
                @{
                    int j = 1;
                    foreach (Retouren retouren in Model.RetourenList)
                    {
                        if (retouren.IsActive == true)
                        {
                            SiteManagement site = Model.SiteList.Find(x => x.Id == retouren.SiteId);
                            Ressources ressources = Model.RessourcesList.Find(x => x.Id == retouren.RessourceId);
                            if (site == null || ressources == null)
                            {
                                continue;
                            }

                            <tr>
                                <th scope="row">@j</th>
                                <td scope="row">@site.Name</td>
                                <td scope="row">@ressources.Name</td>
                                <td scope="row">@retouren.RetourenTime</td>
                                <td scope="row">@retouren.CheckInTime.ToString()</td>
                            </tr>
                            j++;
                        }
                    }
                }

                </tbody>
            </table>
        </div>
    </div>
</div>